@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


:root {
    --nav-height: 4rem;
    --footer-height: 1.8rem;
    --dark-blue: #151823;
    --light-taupe: #c27e6a;
    --garnet: #6b3639;
    --left-side-width: 38vw;
    --left-margin: 3rem;
}

/* COMMON STYLING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-family: Roboto, 'Times New Roman', Times, serif;
}
/* COMMON STYLING -- END */


/* NAVIGATION BAR STYLING */
nav {
    background-color: var(--dark-blue);
    height: var(--nav-height);
    padding: 1rem 3rem 1rem 3rem;
    & > ul {
        list-style: none;
        font-size: 1.6rem;
        display: flex;
        gap: 2rem;
        & li:nth-child(1) {
            flex: 1;
        } 
    }
    & a {
        text-decoration: none;
        color: white
    }
}
/* NAVIGATION BAR STYLING -- END */

/* MAIN STYLING */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
}

.left-content {
    height: calc(100vh - var(--footer-height) - var(--nav-height));
    width: var(--left-side-width);
    & > img {
        height: calc(100vh - var(--footer-height) - var(--nav-height));
        width: var(--left-side-width);
        position: relative;
    }
}

.banner {
    height: 275px;
    width: var(--left-side-width);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: calc(1rem + 3vw);
    font-weight: 400;
    color: white;
    position: absolute;
    top: 30%;
    & img {
        width: 200px;
        height: 200px;
        margin-left: 2rem;
    }
}

.right-content {
    background-color: var(--light-taupe);
}

.disclaimer {
    font-size: calc(1rem + 1vw);
    margin-top: calc(3rem + 2vh);
    margin-right: 10px;
    margin-bottom: calc(2rem + 2vh);
    margin-left: var(--left-margin);
}

.my-forms ul {
    background-color: var(--garnet);
    padding: calc(2rem + 2vh) 0 calc(2rem + 2vh) var(--left-margin);
}

form {
    & > ul {
        list-style: none;
        color: white;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        & li {
            margin-right: calc(1rem + 1vw);
            margin-bottom: calc(1rem + 1vh);
        }
    }
    /* INPUT STYLING */
    & input {
        width: calc(200px + 8.9vw);
        height: 40px;
        padding-left: 8px;
        font-size: 2rem;
        border: 3px solid black;
    }
    & input:focus,
    input:focus-visible {
        outline: none;
        border: 3px solid blue;
        background-color: #6c95b1;
        
    }
    & input:user-invalid {
        border: 3px solid red;
    }
    & input:user-valid {
        border: 3px solid green;
    }
    /* INPUT STYLING -- END */
}

.bottom-elem {
    margin-left: var(--left-margin);
    margin-top: 2rem;
    & button {
        padding: 1rem 2rem;
        margin-bottom: 1rem;
        background-color: var(--garnet);
        color: white;
        font-size: 1.3rem;
    }
    & a {
        color: white;
        text-decoration: none;
    }
}
/* MAIN STYLING -- END */

/* FOOTER STYLING */
footer {
    height: var(--footer-height);
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
    padding-top: .5rem;
    & a {
        color: white;
    }
}
/* FOOTER STYLING -- END */